<a href="https://colab.research.google.com/github/RiooYusoo/Belajar-Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: Python

print('Hello World')

# Variable

In [23]:
RiooYusoo = "Rio"

In [9]:
print(RiooYusoo)

Rio

In [10]:
Nama, Umur, Alamat = "Rio", "17", "Bali"

In [11]:
print(Nama)

Rio

In [12]:
print(Umur)

17

In [13]:
print(Alamat)

Bali

In [15]:
17Rio = "RiooYusoo"

SyntaxError: invalid decimal literal (<ipython-input-15-916aabbe272c>, line 1)

In [16]:
Rio17 = "RiooYusoo"

In [17]:
print(Rio17)

RiooYusoo

In [18]:
Rio,Yuso = "RiooYusoo"

ValueError: too many values to unpack (expected 2)

In [19]:
RioYuso = "RiooYusoo"

In [20]:
print(RioYuso)

RiooYusoo

In [21]:
RioYuso = 2

In [22]:
print(RioYuso)

2

In [25]:
print(type(RioYuso))

<class 'int'>

In [ ]:
"""
Kesimpulan pembelajaran
tentang variable di python
"""
# Ini cara membuat variable (pastikan tidak ada simbol khusus seperti spasi dll dan nomor tidak boleh ditaruh di depan)
Rio = "RiooYusoo"

# ini cara mencetak nilai dari variable
print(Rio)

# Ini cara mengecek tipe nilai pada variable apakah dia tipe string atau number
print(type(Rio))

# Ini cara membuat variable berturut-turut
nama, umur, alamat = "RiooYusoo", "17", "Bali"

# Ini cara mencetak nilai pada variable berturut-turut
print(nama)
print(umur)
print(alamat)

# Tipe Data

In [ ]:
"""
Tipe data ada 6 macam yaitu :
Integer
Float
Boolean
String
List
Tuple
Set
Dictionary
"""
# 1. Integer
  Type data Integer adalah bilangan bulat, seperti -3, -2, -1, 0, 1 ,2 ,3
    Cara mencari tahu :
      data = 8
      print(type(data))
      maka muncul <class 'int'>
        dimana int adalah tipe data integer

# 2. Float
  Type data Float adalah bilangan desimal, seperti 1.0, 2.2, 3.3, 0.5 dst
    Cara mencari tahu :
      data = 8.0
      print(type(data))
      maka muncul <class 'float'>
        dimana float adalah tipe data float

# 3. Boolean
  Type data Boolean adalah tipe data yang hanya memiliki dua nilai
  yaitu : True dan False
    Cara mencari tahu :
      data = True
      data2 = False
      print(type(data))
      maka muncul <class 'bool'>
        dimana bool adalah tipe data boolean

# 4. String
  Type data String adalah kumpulan karakter
    ""--> kutip
      Cara mencari tahu :
        data = "Halo"
        print(type(data))
        maka muncul <class 'str'>
          dimana str adalah tipe data string

# 5. List
  Type data List adalah kumpulan data atau element yang dapat diubah/modifikasi
    Format : [element1, element2, dst]
      Cara mencari tahu :
        data = ["Rio", "Yuso", "RioYuso"]
        print(type(data))
        maka muncul <class 'list'>
          dimana list adalah tipe data list

# 6. Tuple
  Type data Tuple adalah kumpulan data atau element yang tidak dapat diubah/modifikasi
    Format : (element1, element2, dst)
      Cara mencari tahu :
        data = ("Rio", "Yuso", "RioYuso")
        print(type(data))
        maka muncul <class 'tuple'>
          dimana tuple adalah tipe data tuple

# 7. Set
  Type data Set adalah kumpulan data atau element yang pasti unik dan tidak berurutan
    Format : {element1, element2, dst}
      Cara mencari tahu :
        data = {1,4,4,2,3}
        print(data)
        {1,2,3,4}
        {1,4,2,3}
        print(type(data))
        maka muncul <class 'set'>
          dimana set adalah tipe data set

# 8. Dictionary
  Type data Dictionary adalah kumpulan pasangan key-value/kunci-nilai
    Format : {key1:value1, key2:value2, dst}
      Cara mencari tahu :
        data_dic = {"eat": "makan", "drink": "minum", "sad": "sedih"}
        print(data_dic)
        maka muncul {'eat': 'makan', 'drink': 'minum', "sad": "sedih"}
        print(type(data_dic))
        maka muncul <class 'dict'>
          dimana dict adalah tipe data dictionary

# Perbedaan List dan Tuple
  Perbedaannya ada pada penulisan formatnya
    [kurung siku] <-- List(bisa diubah)
    (kurung bulat) <-- Tuple(tidak bisa diubah)