<a href="https://colab.research.google.com/github/RiooYusoo/Belajar-Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

In [ ]:
RiooYusoo = "Rio"

In [ ]:
print(RiooYusoo)

Rio

In [ ]:
Nama, Umur, Alamat = "Rio", "17", "Bali"

In [ ]:
print(Nama)

Rio

In [ ]:
print(Umur)

17

In [ ]:
print(Alamat)

Bali

In [ ]:
17Rio = "RiooYusoo"

SyntaxError: invalid decimal literal (<ipython-input-15-916aabbe272c>, line 1)

In [ ]:
Rio17 = "RiooYusoo"

In [ ]:
print(Rio17)

RiooYusoo

In [ ]:
Rio,Yuso = "RiooYusoo"

ValueError: too many values to unpack (expected 2)

In [ ]:
RioYuso = "RiooYusoo"

In [ ]:
print(RioYuso)

RiooYusoo

In [ ]:
RioYuso = 2

In [ ]:
print(RioYuso)

2

In [ ]:
print(type(RioYuso))

<class 'int'>

In [ ]:
"""
Kesimpulan pembelajaran
tentang variable di python
"""
# Ini cara membuat variable (pastikan tidak ada simbol khusus seperti spasi dll dan nomor tidak boleh ditaruh di depan)
Rio = "RiooYusoo"

# ini cara mencetak nilai dari variable
print(Rio)

# Ini cara mengecek tipe nilai pada variable apakah dia tipe string atau number
print(type(Rio))

# Ini cara membuat variable berturut-turut
nama, umur, alamat = "RiooYusoo", "17", "Bali"

# Ini cara mencetak nilai pada variable berturut-turut
print(nama)
print(umur)
print(alamat)

# Tipe Data

In [ ]:
"""
Tipe data ada 6 macam yaitu :
Integer
Float
Boolean
String
List
Tuple
Set
Dictionary
"""
# 1. Integer
  Type data Integer adalah bilangan bulat, seperti -3, -2, -1, 0, 1 ,2 ,3
    Cara mencari tahu :
      data = 8
      print(type(data))
      maka muncul <class 'int'>
        dimana int adalah tipe data integer

# 2. Float
  Type data Float adalah bilangan desimal, seperti 1.0, 2.2, 3.3, 0.5 dst
    Cara mencari tahu :
      data = 8.0
      print(type(data))
      maka muncul <class 'float'>
        dimana float adalah tipe data float

# 3. Boolean
  Type data Boolean adalah tipe data yang hanya memiliki dua nilai
  yaitu : True dan False
    Cara mencari tahu :
      data = True
      data2 = False
      print(type(data))
      maka muncul <class 'bool'>
        dimana bool adalah tipe data boolean

# 4. String
  Type data String adalah kumpulan karakter
    ""--> kutip
      Cara mencari tahu :
        data = "Halo"
        print(type(data))
        maka muncul <class 'str'>
          dimana str adalah tipe data string

# 5. List
  Type data List adalah kumpulan data atau element yang dapat diubah/modifikasi
    Format : [element1, element2, dst]
      Cara mencari tahu :
        data = ["Rio", "Yuso", "RioYuso"]
        print(type(data))
        maka muncul <class 'list'>
          dimana list adalah tipe data list

# 6. Tuple
  Type data Tuple adalah kumpulan data atau element yang tidak dapat diubah/modifikasi
    Format : (element1, element2, dst)
      Cara mencari tahu :
        data = ("Rio", "Yuso", "RioYuso")
        print(type(data))
        maka muncul <class 'tuple'>
          dimana tuple adalah tipe data tuple

# 7. Set
  Type data Set adalah kumpulan data atau element yang pasti unik dan tidak berurutan
    Format : {element1, element2, dst}
      Cara mencari tahu :
        data = {1,4,4,2,3}
        print(data)
        {1,2,3,4}
        {1,4,2,3}
        print(type(data))
        maka muncul <class 'set'>
          dimana set adalah tipe data set

# 8. Dictionary
  Type data Dictionary adalah kumpulan pasangan key-value/kunci-nilai
    Format : {key1:value1, key2:value2, dst}
      Cara mencari tahu :
        data_dic = {"eat": "makan", "drink": "minum", "sad": "sedih"}
        print(data_dic)
        maka muncul {'eat': 'makan', 'drink': 'minum', "sad": "sedih"}
        print(type(data_dic))
        maka muncul <class 'dict'>
          dimana dict adalah tipe data dictionary

# Perbedaan List dan Tuple
  Perbedaannya ada pada penulisan formatnya
    [kurung siku] <-- List(bisa diubah)
    (kurung bulat) <-- Tuple(tidak bisa diubah)

# Praktek Type Data

In [ ]:
# Type Data Integer
data = 7

print(data)
print(type(data))

7
<class 'int'>

In [ ]:
# Type Data Float
data = 5.3

print(data)
print(type(data))

5.3
<class 'float'>

In [ ]:
# Type Data Boolean
data1 = True
data2 = False

print(data1)
print(data2)
print(type(data1))
print(type(data2))

True
False
<class 'bool'>
<class 'bool'>

In [ ]:
# Type Data List
data = ["rio", "yuso", "rio yuso"]

print(data)
print(type(data))

['rio', 'yuso', 'rio yuso']
<class 'list'>

In [ ]:
# Type Data Tuple
data = ("rio", "yuso", "rio yuso")

print(data)
print(type(data))

('rio', 'yuso', 'rio yuso')
<class 'tuple'>

In [ ]:
# Type Data String
data = "RiooYusoo"

print(data)
print(type(data))

RiooYusoo
<class 'str'>

In [ ]:
# Type Data Set
data = {1, 4, 4, 4, 4, 3, 3, 2, 1}

print(data)
print(type(data))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
# Type Data Dictionary
datadic = {"eat": "makan", "scream": "teriak", "Rioo": "Yusoo"}

print(datadic)
print(type(datadic))

{'eat': 'makan', 'scream': 'teriak', 'Rioo': 'Yusoo'}
<class 'dict'>

# Casting Type Data

In [ ]:
# To Inter
dataL = 20.4
dataB1 = True
dataB2 = False

data_int1 = int(dataL)
data_int2 = int(dataB1)
data_int3 = int(dataB2)

print(dataL, type(dataL))
print(data_int1, type(data_int1))
print(dataB1, type(dataB1))
print(data_int2, type(data_int2))
print(dataB2, type(dataB2))
print(data_int3, type(data_int3))

20.4 <class 'float'>
20 <class 'int'>
True <class 'bool'>
1 <class 'int'>
False <class 'bool'>
0 <class 'int'>

In [ ]:
# To Float
dataI = 5
dataB1 = True
dataB2 = False

data_float1 = float(dataI)
data_float2 = float(dataB1)
data_float3 = float(dataB2)

print(dataI, type(dataI))
print(data_float1, type(data_float1))
print(dataB1, type(dataB1))
print(data_float2, type(data_float2))
print(dataB2, type(dataB2))
print(data_float3, type(data_float3))

5 <class 'int'>
5.0 <class 'float'>
True <class 'bool'>
1.0 <class 'float'>
False <class 'bool'>
0.0 <class 'float'>

In [ ]:
# To Boolean
dataI = 5
dataF = 0.0
dataS1 = "Rio"
dataS2 = ""

data_bool1 = bool(dataI)
data_bool2 = bool(dataF)
data_bool3 = bool(dataS1)
data_bool4 = bool(dataS2)

print(dataI, type(dataI))
print(data_bool1, type(data_bool1))
print(dataF, type(dataF))
print(data_bool2, type(data_bool2))
print(dataS1, type(dataS1))
print(data_bool3, type(data_bool3))
print(dataS2, type(dataS2))
print(data_bool4, type(data_bool4))

5 <class 'int'>
True <class 'bool'>
0.0 <class 'float'>
False <class 'bool'>
Rio <class 'str'>
True <class 'bool'>
 <class 'str'>
False <class 'bool'>

In [ ]:
# To String
dataI = 5
dataF = 4.3
dataB = True
dataL = ['Rio', 'Yuso', 'RioYuso']

data_convert1 = str(dataI)
data_convert2 = str(dataF)
data_convert3 = str(dataB)
data_convert4 = str(dataL)


print(dataI, type(dataI))
print(data_convert1, type(data_convert1))
print(dataF, type(dataF))
print(data_convert2, type(data_convert2))
print(dataB, type(dataB))
print(data_convert3, type(data_convert3))
print(dataL, type(dataL))
print(data_convert4, type(data_convert4))

5 <class 'int'>
5 <class 'str'>
4.3 <class 'float'>
4.3 <class 'str'>
True <class 'bool'>
True <class 'str'>
['Rio', 'Yuso', 'RioYuso'] <class 'list'>
['Rio', 'Yuso', 'RioYuso'] <class 'str'>

In [ ]:
dataI, data_convert1

(5, '5')

In [ ]:
dataF, data_convert2

(4.3, '4.3')

In [ ]:
dataB, data_convert3

(True, 'True')

In [ ]:
dataL, data_convert4

(['Rio', 'Yuso', 'RioYuso'], "['Rio', 'Yuso', 'RioYuso']")

In [ ]:
# To List
dataS = "RiooYusoo"
dataT = ("Rio", "Yuso", "RioYuso")

data_convert1 = list(dataS)
data_convert2 = list(dataT)

print(dataS, type(dataS))
print(data_convert1, type(data_convert1))
print(dataT, type(dataT))
print(data_convert2, type(data_convert2))

RiooYusoo <class 'str'>
['R', 'i', 'o', 'o', 'Y', 'u', 's', 'o', 'o'] <class 'list'>
('Rio', 'Yuso', 'RioYuso') <class 'tuple'>
['Rio', 'Yuso', 'RioYuso'] <class 'list'>

In [ ]:
# To Dictionary
data = [["Rio", "Yuso"],
 ["satu kosong", "sepuluh"]
        ]

print(data)
print(dict(data))

[['Rio', 'Yuso'], ['satu kosong', 'sepuluh']]
{'Rio': 'Yuso', 'satu kosong': 'sepuluh'}

In [ ]:
# To Unzip
Key = ["Rio", "Satu kosong"]
Value = ["Yuso", "sepuluh"]

data_dict = dict(zip(Key, Value))

In [ ]:
data_dict

{'Rio': 'Yuso', 'Satu kosong': 'sepuluh'}

# Aritmatika

In [ ]:
# Penjumlahan
penjumlahan = 1 + 4
print(penjumlahan)

5

In [ ]:
# Pengurangan
pengurangan = 5 - 2
print(pengurangan)

3

In [ ]:
# Perkalian
perkalian = 5 * 4
print(perkalian)

20

In [ ]:
# Pembagian
pembagian = 18 / 6
print(pembagian)

3.0

In [ ]:
# Perpangkatan
perpangkatan = 8 ** 2
print(perpangkatan)

64

In [ ]:
# Pembagian Bulat / Division Floor
division_floor = 25 // 7
pembagian_bulat = 15 // 6
print(division_floor)
print(pembagian_bulat)

3
2

In [ ]:
# Sisa Bagi / Modulus
modulus = 20 % 6
sisa_bagi = 14 % 5
print(modulus)
print(sisa_bagi)

2
4

# Operator Perbandingan

In [ ]:
# Lebih Dari (>)
benar = 5 > 3
salah = 4 > 9

print(benar)
print(salah)

True
False

In [ ]:
# Kurang Dari (<)
benar = 8 < 10
salah = 6 < 3

print(benar)
print(salah)

True
False

In [ ]:
# Sama atau Lebih Dari (>=)
benar = 10 >= 7
salah = 8 >= 9

print(benar)
print(salah)

True
False

In [ ]:
# Sama atau Kurang Dari (<=)
benar = 24 <= 30
salah = 3 <= 1

print(benar)
print(salah)

True
False

In [ ]:
# Sama Dengan (==)
a = 15
b = 15.0

print(a == b)

print(type(a))
print(type(b))


# dan
dan = "dan"
print(dan)


a = [1, 9]
b = [1, 9]

print(a == b)

print(id(a))
print(id(b))

True
<class 'int'>
<class 'float'>
dan
True
135081688175040
135081688187520

In [ ]:
# Sama dengan (Is)
a = [2, 4]
b = a

print(a is b)

print(id(a))
print(id(b))

True
135081686664256
135081686664256

In [ ]:
# Tidak Sama Dengan (!=)
benar = 14 != 15
salah = 17 != 17

print(benar)
print(salah)

True
False

# Operator Logika

In [1]:
# Opertator Not
input = True
hasil = not input

print(hasil)

False

In [2]:
# Operator Or
input_a = False
input_b = False
input_c = True
hasil = input_a or input_b or input_c

print(hasil)

True

In [3]:
# Operator And
input_a = True
input_b = True
input_c = False
hasil = input_a and input_b and input_c

print(hasil)

False

In [4]:
# Operator XOR
input_a = True
input_b = True
hasil = input_a ^ input_b

print(hasil)

False

In [5]:
input_a = False
input_b = False
hasil = input_a ^ input_b

print(hasil)

False

In [6]:
input_a = False
input_b = True
hasil = input_a ^ input_b

print(hasil)

True